@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    margin: 10px;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    flex: 0.5;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5s;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(5), .panel:nth-of-type(4) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 80vh;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 70vh;
    }
}